.header {
  display: flex;
  padding: 5px 20px;
  border-bottom: 1px solid #e5e5e5;
  box-shadow: 0 4px 8px 0 rgba(48, 82, 120, .03)
}

.header__logo-link {
  flex-basis: 130px;
}

.header__logo {
  width: 100%;
}

.header__nav {
  display: flex;
  margin-left: 10%;
  align-items: center;
}

.header__nav-list {
  display: flex;
  padding: 0;
  list-style: none;
}

.header__nav-link {
  padding: 21px 35px;
  color: #65777b;
  font-weight: 600;
}