@font-face {
  font-family: OpenSansBold;
  src: url('assets/fonts/opensans-bold-webfont.woff2') format('woff2'),
       url('assets/fonts/opensans-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: OpenSansLight;
  src: url('assets/fonts/opensans-light-webfont.woff2') format('woff2'),
       url('assets/fonts/opensans-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: OpenSans;
  src: url('assets/fonts/opensans-regular-webfont.woff2') format('woff2'),
       url('assets/fonts/opensans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: OpenSans, sans-serif;
}

ul {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}